body {
    background-image: url('../images/background.jpg');
}

table {
    font-weight: bold;
    font-size: 1.5em;
    background-color: #eee;
}

td {
    border-width: 8px !important;
}

#display {
    text-align: right;
    background-color: #fff;
}

.number, .operator, .dot, #clear, #sum, #dot {
    text-align: center;
}

.table>tbody>tr>td:hover:not(#display) {
    cursor: pointer;
    cursor: hand;
}

.number:hover {
    background-color: #e5e5ff;
}

.operator:hover, #clear:hover, #dot:hover, #sum:hover {
    background-color: #e5ffe5;
}

.row {
    margin-top: 15%;
}

#display {
    height: 2em;
    font-weight: bolder;
    font-size: 2em;
}
